@import "compass/css3";
$borderColor: #ededed;
$spanColor: #333;
$inputColor: #888;
$hoverColor:#2098D1;
$cellWidth: 60px;
$gameWidth: 540px;
#sudoku-game {
    position: relative;
    box-sizing: border-box;
    * {
        box-sizing: border-box;
    }
    width: calc(270px + 30vw);
    height: calc(270px + 30vw);
    max-width: $gameWidth;
    max-height: $gameWidth;
    margin: auto;
    border :3px solid black;
    .cell {
        width: (100% / 9);
        height: auto;
        max-width: $cellWidth;
        max-height: $cellWidth;
        font-size: 32px;
        border-left: 1px solid $borderColor;
        border-bottom: 1px solid $borderColor;
        float: left;
        display: block;
        vertical-align: middle;
        text-align: center;
        cursor: pointer;
        .cell-content {
            display: block;
            width: 100%;
            padding-top: 100%;
        }
        
        .numero {
            position: absolute;
            left: 0;
            top: 0;
            right: 0;
            bottom: 0;
            @include display-flex;
            @include justify-content(center);
            @include align-items(center);
            @include user-select(none);
            input {
                margin: 0;
                border: 0;
                text-align: center;
                font-size: 32px;
                height: 100%;
                transition: none;
                cursor: pointer;
                font-family: inherit;
                box-shadow: none;
                color: $inputColor;
                &:focus, &:active, &:hover {
                    box-shadow: none;
                    border: 0;
                    
                }
                &:focus, &:hover {
                    color: white;
                    background-color: $hoverColor;
                }
    
            }
        }
        span.numero {
            color: $spanColor;
        }
    }
    .line {
        position: absolute;
        z-index: 1;
        &.vr-line {
            top: 0;
            bottom: 0;
            width: 3px;
            height: 100%;
            background-color: black;
            left: calc((100%/3) - 2px);
            & + .vr-line {
                left: calc((200%/3) - 2px);
            }
        }
        &.hr-line {
            left: 0;
            right: 0;
            height: 3px;
            width: 100%;
            background-color: black;
            top: calc((100%/3) - 2px);
            & + .hr-line {
                top: calc((200%/3) - 2px);
            }
        }
    }
    
    &:after {
        content: "";
        display: block;
        clear: both;
    }
}

#game-actions {
    text-align: center;
    padding: 20px;
    button {
        margin: 10px;
    }
}


